/* .header {
  width: 100% !important;
} */
@media screen and (min-width: 776px) {
  .main-item {
          /* flex-wrap: nowrap !important;
          align-items: center;
          justify-content: space-between; */
    
  }
}
